@import 'vendors/bootstrap';
@import 'vendors/font-awesome';

@import 'template/variables';
@import 'template/template';
@import 'template/mixins';
@import 'template/styles';

@import 'componentes/navbar';
@import 'componentes/header';
@import 'componentes/link';
@import 'componentes/carousel';
@import 'componentes/title';
@import 'componentes/media-imgs';
@import 'componentes/footer';
@import 'componentes/card';
@import 'componentes/btn';
@import 'componentes/search';



