section
  #carouselExampleControls.carousel.slide(data-bs-ride='carousel')
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src='images/slider1.jpg' alt='Slider1')
      .carousel-item
        img.d-block.w-100(src='images/slider2.jpg' alt='Slider2')
    button.carousel-control-prev(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.visually-hidden Previous
    button.carousel-control-next(type='button' data-bs-target='#carouselExampleControls' data-bs-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.visually-hidden Next

section.py-5
  .container 
    h2.text-center.c-primary.mb-5
      i Compre por categoria
    article.row 
      .col-lg-4
        figure
          img.img-fluid.w-100(src="images/produto1.jpg", alt="")
          figcaption.text-center.p-2
            i texto (3)
      .col-lg-4
        figure
          img.img-fluid.w-100(src="images/produto2.jpg", alt="")
          figcaption.text-center.p-2
            i texto (4)
      .col-lg-4
        figure
          img.img-fluid.w-100(src="images/produto3.jpg", alt="")
          figcaption.text-center.p-2
            i texto (13)
section.py-5
  .container
    h2.text-center.c-primary.mb-5
      i Instagram @ingrid.juliao
    article.row 
      .col-lg-4
        figure
          img.img-fluid.w-100(src="https://unsplash.it/800/600?random&seed=0", alt="")
      .col-lg-4
        figure
          img.img-fluid.w-100(src="https://unsplash.it/800/600?random&seed=1", alt="")
      .col-lg-4
        figure
          img.img-fluid.w-100(src="https://unsplash.it/800/600?random&seed=2", alt="")