footer
  .footer
    .container 
      .row 
        .col-lg-3
          .d-flex.align-items-center.py-3
            img.brand-footer(src="images/logo-footer.svg", alt="Logo Footer")
        .col-lg-9
          .d-flex.justify-content-end.py-3
            ul.list-unstyled.list-inline
              li.list-inline-item.mx-4
                a.link.link-footer(href="#")
                  i.fas.fa-phone-alt &nbsp; 
                  span +5561 9999-9999
              li.list-inline-item.mx-4
                a.link.link-footer(href="#")
                  i.fas.fa-envelope &nbsp; 
                  span contato@qdeingrid.com.br
              li.list-inline-item.mx-4
                a.link.link-footer(href="#")
                  i.fas.fa-file &nbsp; 
                  span Troca e devoluções / Política de privacidade 
      .row
        .col-lg-12
          hr
        .col-lg-12 
          .py-3.text-center
            img.img-fluid(src="images/payments.png", alt="Pagamentos")
        .col-lg-3
          .nav-social--links.py-3
            a.link.link-facebook(href="#" title='Facebook APCN')
              i.fab.fa-facebook-f
            a.link.link-youtube(href="#" title='Youtube APCN')
              i.fab.fa-youtube
            a.link.link-instagram(href="#" title='Instagram APCN')
              i.fab.fa-instagram
            a.link.link-whatsapp(href="#" title='Whatsapp APCN')
              i.fab.fa-whatsapp
        .col-lg-6.text-center.py-3 Brasília dolor sit amet consectetur adipisicing elit. Porro placeat, CEP 70765-080
        .col-lg-3
  .descriptions
    .container-fluid 
      .row 
        .col-lg-3
        .col-lg-6 
          .text-center Copyright ® 2021 todos os direitos reservados  
        .col-lg-3 
          .text-end Developement by Carlosvz
    