meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
link(rel='shortcut icon' href='assets/cropped-symbol-32x32.png' sizes='32x32')
link(rel='shortcut icon' href='assets/cropped-symbol-192x192.png' sizes='192x192')
link(rel='shortcut icon' href='assets/cropped-symbol-180x180.png' sizes='180x180')
title Qdeingrind
//- Global site tag (gtag.js) - Google Analytics
//- script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-GMDZ14DTEL')
//- script.
//-   window.dataLayer = window.dataLayer || [];
//-   function gtag(){dataLayer.push(arguments);}
//-   gtag('js', new Date());
//-   gtag('config', 'G-GMDZ14DTEL');

