// BACKGROUNDS
.bg-primary {
  background-color: $primary !important;
}

.bg-secondary {
  background-color: $secondary !important;
}

.bg-tertiary {
  background-color: $tertiary !important;
}

.bg-default {
  background-color: $default;
}

.bg-cousin {
  background-color: $cousin;
}

.bg-section {
  background: #f5f8fd;
}

.bg-footer {
  background-color: #333;
}

.bg-subfooter {
  background-color: $primary;
}

.bg-gradient--primary {
  background: linear-gradient(0deg, rgba(31, 33, 98, 1) 0%, rgba(64, 67, 175, 1) 100%);
}

.bg-gradient--gray {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);
}

.c-primary {
  color: $primary !important;
}

.c-secondary {
  color: $secondary !important;
}

.c-tertiary {
  color: $tertiary !important;
}

.c-default {
  color: $default;
}

.c-cousin {
  color: $cousin;
}

.c-cut {
  color: $cut;
}

.white {
  color: white;
}

.text-shadow {
  text-shadow: 1px 1px 2px rgb(20, 20, 20);
}

.delta {
  font-size: $delta;
}
.epsilon {
  font-size: $epsilon;
}
.zeta {
  font-size: $zeta;
}
.eta {
  font-size: $eta;
}
.milli {
  font-size: $milli;
}
.micro {
  font-size: $micro;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto;
}

.anime {
	opacity: 0;
	transform: translate3d(-100px,0,0);
	transition: .3s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);
}
