html,
body {
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  // background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.428;
}

// @font-face {
//   font-family: 'robotoregular';
//   src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
//        url('../../fonts/roboto-regular-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'robotobold';
//   src: url('../../fonts/roboto-bold-webfont.woff2') format('woff2'),
//        url('../../fonts/roboto-bold-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'robotomedium';
//   src: url('../../fonts/roboto-medium-webfont.woff2') format('woff2'),
//        url('../../fonts/roboto-medium-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border-style: none;
}
h1,
h2, 
h3 {
  margin-bottom: 0;
}

.spacer-lg {
  margin-bottom: 30px;
}

.artigos {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.content-vz {
  background-color: #fff;
  max-width: 1350px;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;

  @include media-breakpoint-down(xxl) {
    max-width: 1180px;
  }
  @include media-breakpoint-down(xl) {
    max-width: 1000px;
  }
  @include media-breakpoint-down(lg) {
    max-width: 100%;
    margin-top: -30px;
  }
}

