html,
body {
  font-size: 1rem;
  font-weight: 400;
  height: 100%;
  // background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.428;
}

@font-face {
  font-family: 'dutch801_rm_btbold_italic';
  src: url('../../assets/fonts/dutch-801-bold-italic-bt-webfont.woff2') format('woff2'),
       url('../../assets/fonts/dutch-801-bold-italic-bt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'chopinscriptmedium';
  src: url('../../assets/fonts/chopinscript-webfont.woff2') format('woff2'),
       url('../../assets/fonts/chopinscript-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border-style: none;
}

h1 {
  font-size: $delta;
  @include media-breakpoint-up(xl) {
    font-size: $mega;
  }
}

h1,
h2, 
h3 {
  margin-bottom: 0;
  font-family: "dutch801_rm_btbold_italic";
}

.spacer-lg {
  margin-bottom: 30px;
}

// .artigos {
//   border-bottom: 1px solid #eee;
//   padding-bottom: 15px;
//   margin-bottom: 30px;
// }

// .content-vz {
//   background-color: #fff;
//   max-width: 1350px;
//   padding-top: 30px;
//   margin-left: auto;
//   margin-right: auto;
//   margin-top: -60px;

//   @include media-breakpoint-down(xxl) {
//     max-width: 1180px;
//   }
//   @include media-breakpoint-down(xl) {
//     max-width: 1000px;
//   }
//   @include media-breakpoint-down(lg) {
//     max-width: 100%;
//     margin-top: -30px;
//   }
// }

