.carousel-wp {
  .carousel-inner {
    position: relative;
    .caption {
      position: absolute;
      top: 80px;
      left: 155px;
      p {
        font-family: "chopinscriptmedium";
        font-size: 3rem;
        text-align: end;
        font-weight: 100;
        color: $cousin;
      }
    }
  }
}