.style-1,
.style-2 {
  height: 5px;
}
.style-1 {
  background-color: $secondary;
}
.style-2 {
  background-color: $tertiary;
}
.footer {
	background-color: $default;
  color: $primary;
  padding-top: 15px;
  padding-bottom: 15px;
  min-height: 200px;
}
.descriptions {
  background-color: $primary;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  font-size: 12px;
}
.brand-footer {
  width: 155px;
  margin-right: 15px;
}