.social-res {
  @include media-breakpoint-down(lg) {
    display: inline-flex;
    flex-direction: row;
    a {
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.nav-brand,
.nav-access,
.nav-social {
  display: flex;
  align-items: center;
}

.nav-access {
  min-height: 30px;
}

.nav-social {
  min-height: 55px;
  border-bottom: 1px solid $default;
}

.nav-social--links {
  a {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-brand  {
  min-height: 135px;
  position: relative;
  border-bottom: 1px solid $cut;
}

.brand {
  position: absolute;
  top: -74px;
  width: 150px;
  @include media-breakpoint-up(lg) {
    top: -35px;
    width: 165px;
  }
}

.brand-caption {
  font-family: robotobold;
  margin-left: 150px;
  margin-bottom: 0;
  font-size: 40px;
  color: $primary;
  @include media-breakpoint-up(lg) {
    margin-left: 195px;
    font-size: 55px;
  }
}