.title--hero {
  font-size: 40px;
  font-family: robotobold;
  color: white;
  margin-bottom: 15px;
  line-height: 0.9;
  @include media-breakpoint-up(lg) {
    font-size: 75px;
  }
}

.hero {
  height: 550px;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  .container {
    height: 100%;
    .row {
      height: 100%;
    }
  }
  @include media-breakpoint-down(lg) {
    height: 550px;
    background-position: -600px top;
  }
}

.hero-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.hero-caption {
  margin: 60px 0;
}

.hero-head {
  display: flex;
  align-items: center;
  min-height: 130px;
  background-color: hsla(35, 95%, 59%, 0.8);
}

.hero-body {
  display: flex;
  align-items: center;
}

.hero-item2 {
  background-image: url();
}

// .hero-item {
//   background-image: url('../../images/hero.jpg');
// }

@include media-breakpoint-down(lg) {
  // .hero {
  //   background-position: -100px top;
  //   background-size: initial;
  //   height: 500px;
  // }

  // .setsubbackground {
  //   background-size: 550px;
  // }
}
