.link {
	transition: all 0.2s linear;
	text-decoration: none;
}

.link-footer {
  font-size: 12px;
  color: $primary;
  &:hover {
    color: $secondary;
  }
}

.link-nav {
  color: #fff;
  font-size: 16px;
  &:hover,
  &:active,
  &:focus {
    color: $secondary;
  }
}

.link-facebook,
.link-whatsapp,
.link-youtube,
.link-instagram {
  color: $primary;
}

.link-facebook {
  &:hover {
    color: $facebook;
  }
}

.link-whatsapp {
  &:hover {
    color: $whatsapp;
  }
}

.link-youtube {
  &:hover {
    color: $youtube;
  }
}

.link-instagram {
  &:hover {
    color: $instagram;
  }
}

.link-primary {
  color: $primary;
  &:hover {
    color: $tertiary;
  }
}

.link-card {
  display: flex;
  .caption-card {
    background-color:rgba(10,45,61,0.7);
    transition: background-color 0.5s ease;
    &:hover {
      background-color:rgba(10,45,61,0);
    }
  }
}

.active {
  font-weight: bold;
  border-bottom: 4px solid $secondary;
  color: #fff;
}