
.ratio-figure {
  margin-bottom: 30px;
  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.media {
  @include media-breakpoint-down(lg) {
    flex-direction: column;
  }
}

.media-caption {
  @include media-breakpoint-up(lg) {
    margin-left: 15px;
  }
}

.media-figure {
  width: none;
  @include media-breakpoint-up(lg) {
    width: 300px;
  }
}