.nav-style-1,
.nav-style-2,
.nav-style-3 {
  height: 3px;
}

.nav-style-1 {
  background-color: $style-1;
}

.nav-style-2 {
  background-color: $style-2;
}

.nav-style-3 {
  background-color: $style-3;
}

.nav-dark {
  background-color: #000000;
}

.nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
	z-index: 3;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  background-color: $primary;
}


.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
}

.navbar-toggle {
  display: none;
  @include media-breakpoint-down(lg) {
    display: block;
  }
}

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle .icon-bar {
  background-color: $primary;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar {
	width: 22px;
	transition: all 0.2s;
}

/* ANIMATED X */
.navbar-toggle.x .icon-bar:nth-of-type(1) {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggle.x .icon-bar:nth-of-type(2) {
	opacity: 0;
	filter: alpha(opacity=0);
}

.navbar-toggle.x .icon-bar:nth-of-type(3) {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

/* ANIMATED X COLLAPSED */
.navbar-toggle.x.collapsed .icon-bar:nth-of-type(1) {
	transform: rotate(0);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(2) {
	opacity: 1;
	filter: alpha(opacity=100);
}

.navbar-toggle.x.collapsed .icon-bar:nth-of-type(3) {
	transform: rotate(0);
}
/* END ANIMATED X */